.cityIcon {
    max-width: 30px;
    height: auto;
}

.overview_card {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
    position: relative;
    width: 100%;
    padding: 5px;
    display: flex;
}